<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<H3>Hello World</H3>
<div id="trash"></div>
<!--<form method="post" id="login" role="form" action="/spring_security_check">-->
<!--<input type="email" name="email"/>-->
<!--<input type="password" name="password"/>-->
<!--<button type="submit">Sign In</button>-->
<!--</form>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>-->
<script type="text/babel">
    var Form = React.createClass({
        render: function () {
            return (
                    <div>Hello world</div>
// <form id={"login"} role={"form"}
//                           action={"/spring_security_check"} method={"post"}
// <input type={"email"} name={"email"}/>
// <input type={"password"} name={"password"}/>
// <button type={"submit"}>Sign in</button>
// </form>
            );
        }
    });
    ReactDOM.render(<Form/>, document.getElementById('trash'));
</script>
</body>
</html>